body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
}

#app {
    width: 380px;
    height: 480px;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    padding: 30px;
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.1);
    transition: all 0.3s ease;
    overflow: auto;
}


#app:hover {
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,0.3);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #E0E0E0;
    color: #000;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#result {
    margin-top: 20px;
    text-align: center;
}

#result p {
    font-family: 'Courier New', Courier, monospace;
    background-color: #E0E0E0;
    color: #000;
    padding: 10px;
    border-radius: 20px;
}

#message {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #007BFF;
    border-radius: 20px;
}

.wallet-id-char {
    animation: appear 0.3s ease;
}

@keyframes appear {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
